@model GraficoViewModel

@{
    ViewData["Title"] = "Gráfico";
}

<html>
<head>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/ema.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/macd.js"></script>
</head>
<body>
    <h4 class="display-4">Gráfico</h4>
    <div id="containerEma" style="height: 500px; min-width: 310px"></div>
    <div id="containerMacd" style="height: 500px; min-width: 310px"></div>
    <script type="text/javascript">
                Highcharts.getJSON('@Model.FilePath', function (data) {
                    Highcharts.stockChart('containerEma', {

                        rangeSelector: {
                            selected: 1
                        },

                        title: {
                            text: 'EMA - ' + '@Model.Acao'
                        },

                        legend: {
                            enabled: true
                        },

                        plotOptions: {
                            series: {
                                turboThreshold: 0,
                                showInLegend: true
                            }
                        },

                        yAxis: [{
                            height: '50%'
                        }, {
                            top: '60%',
                            height: '40%'
                        }],

                        series: [
                            {
                                type: 'ohlc',
                                id: 'xpto',
                                name: 'Cotação',
                                data: data
                            }, 
                            {
                                type: 'ema',
                                linkedTo: 'xpto',
                                params: {
                                  period: 9
                                }
                            },
                            {
                                type: 'ema',
                                linkedTo: 'xpto',
                                params: {
                                  period: 12
                                }
                            },
                            {
                                type: 'ema',
                                linkedTo: 'xpto',
                                params: {
                                  period: 26
                                }
                            }
                        ]
                    });
                    Highcharts.stockChart('containerMacd', {

                        rangeSelector: {
                            selected: 1
                        },

                        title: {
                            text: 'MACD - ' + '@Model.Acao'
                        },

                        legend: {
                            enabled: true
                        },

                        plotOptions: {
                            series: {
                                turboThreshold: 0,
                                showInLegend: true
                            }
                        },

                        yAxis: [{
                            height: '40%'
                        }, {
                            top: '60%',
                            height: '40%'
                        }],

                        series: [{
                                type: 'ohlc',
                                id: 'xpto',
                                name: 'Cotação',
                                data: data
                            }, 
                            {
                                yAxis: 1,
                                type: 'macd',
                                linkedTo: 'xpto'
                        }]
                    });
                });
    </script>
</body>
</html>
